.card-body {
  padding: 15px;
}

.card-text {
  margin: 10px 0;
  font-size: 14px;
  color: #333;
}

.card-text strong {
  color: #007bff; /* Change to your preferred color */
}

.card-text:last-of-type {
  margin-bottom: 0;
}

.card {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for card */
  background-color: #fff; /* Background color for each card */
  border: 1px solid #eee; /* Border around each card */
}

.card-body {
  padding: 15px;
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #eee;
}

.card-text {
  margin: 10px 0;
  font-size: 14px;
  color: #333;
}

.card-text strong {
  color: #007bff; /* Change to your preferred color */
}

.card-text:last-of-type {
  margin-bottom: 0;
}
.heading-text {
  display: inline-block; /* Make the heading behave like a button */
  font-size: 14px; /* Adjust font size as needed */
  font-weight: bold; /* Make the text bold */
  color: #fff; /* White text color */
  background-color: #a2a39f; /* Button background color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding inside the heading */
  margin: 20px 0; /* Margin above and below */
  text-align: center; /* Center-align the text */
  text-transform: uppercase; /* Uppercase text for emphasis */
  cursor: pointer; /* Show pointer cursor on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add shadow for a 3D effect */
  transition:
    background-color 0.3s,
    box-shadow 0.3s; /* Smooth transition for hover effect */
}
.main-header {
  display: inline-block; /* Makes the header behave like an inline-block element */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Bold text */
  color: #171616; /* Text color */
  background-color: #cdcdcd; /* Background color */
  padding: 10px 10px; /* Padding inside the button */
  text-align: center; /* Center-align the text */
  margin: 0; /* Remove default margin */
  /* Add margin to space it from other elements, adjust as needed */
}

/* styles.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.amenities-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.amenity-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.button-show-more {
  background-color: #007bff;
  color: #fff;
  margin-top: 1rem;
}

.food-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
}

.no-foods-message {
  text-align: center;
  font-size: 18px;
  color: #666;
}

.food-card {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.food-name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.food-image {
  max-width: 100%;
  height: 120px; /* Adjusted to fit within the card height */
  object-fit: cover;
}

.card-body {
  flex: 1;
  overflow: hidden;
  text-align: left;
}

.card-text {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-footer {
  background-color: #f9f9f9;
}

.btn-danger {
  background-color: #d9534f;
  border: none;
  color: #fff;
  padding: 8px 12px;
  font-size: 10px;
}

.btn-danger:hover {
  background-color: #c9302c;
}

/* Mobile responsiveness */
@media (max-width: 1200px) {
  .food-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .food-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .food-container {
    grid-template-columns: 1fr;
  }
}

.room-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
}

.no-rooms-message {
  text-align: center;
  font-size: 18px;
  color: #666;
}

.room-card {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: transform 0.3s;
}
.card-header {
  background-color: #f4f4f4;
  padding: 10px;
  flex-shrink: 0;
}

.room-image img {
  max-width: 100%;
  height: 150px; /* Adjusted to fit within the card height */
  object-fit: cover;
}

.card-body {

  flex: 1;
  overflow: hidden;
  text-align: left;
}

.card-text {
  margin: 5px 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-footer {
  padding: 10px 15px;
  background-color: #f9f9f9;
}

.btn-danger {
  background-color: #d9534f;
  border: none;
  color: #fff;
  font-size: 14px;
}

.btn-danger:hover {
  background-color: #c9302c;
}

/* Mobile responsiveness */
@media (max-width: 1200px) {
  .room-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .room-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .room-container {
    grid-template-columns: 1fr;
  }
}
